{% extends 'cabinet/cabinet_layout.html.twig' %}

{% block title %}{{ 'Profile'|trans }}{% endblock %}

{% block content %}
    <div class="col-lg-12">
{#  START FORM  #}
        {% if  errors is defined and errors is not empty %}
        <div class="alert alert-danger" role="alert">
        {{ form_errors(profileForm) }}
        </div>
        {% endif %}
        {% if  mess is defined and mess is not empty %}
            <div class="alert alert-success" role="alert">
                {{ mess }}
            </div>
        {% endif %}
        {{ form_start(profileForm, {'action': path('post_profile'), 'method': 'POST', 'attr': {'id': 'profileForm','class':'mb-3'}}) }}
        <div class="card card-default">
            <div class="card-body text-center">
                <div class="py-4"><img class="img-fluid rounded-circle img-thumbnail thumb96"
                                       src="
                                                        {% if user.avatar %}
                                                            {{ asset(user.avatar) }}
                                                        {% else %}
                                                            {{ asset('img/user/02.jpg') }}
                                                        {% endif %}
                                                       " alt="{{ 'Contact'|trans }}"></div>
{#                <label class="btn btn-primary"><input type="file" name="avatar"></label>#}

                {% if profileForm.avatarFile.vars.errors|length %}
                    {{ form_widget(profileForm.avatarFile, {'attr': {'class': 'is-invalid form-control border-right-0'}}) }}
                {% else %}
                    {{ form_widget(profileForm.avatarFile) }}
                {% endif %}
                <div class="invalid-feedback">{{ form_errors(profileForm.avatarFile) }}</div>

                <div class="form-group">
                    <div class="offset-5 col-2">
                        {{ form_row(profileForm.save_avatar, {'label': 'Edit profile'|trans}) }}
                    </div>
                </div>
            </div>
        </div>
        <div class="card card-default">
            <div class="card-header d-flex align-items-center">
                <div class="d-flex justify-content-center col">
                    <div class="h4 m-0 text-center">{{ 'Contact Information'|trans }}</div>
                </div>
            </div>
            <div class="card-body">
                <div class="row py-4 justify-content-center">
                    <div class="col-12 col-sm-10">
                        <div class="form-group">
                            {{ form_label(profileForm.firstName,'First name'|trans, {
                                'label_attr': {'class': 'text-muted'}
                            }) }}
                            <div class="input-group with-focus">
                                {{ form_widget(profileForm.firstName) }}
                                <div class="input-group-append">
                             <span class="input-group-text text-muted bg-transparent border-left-0">
                                 <em class="fa fa-user"></em>
                             </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            {{ form_label(profileForm.secondName,'Second name'|trans, {
                                'label_attr': {'class': 'text-muted'}
                            }) }}
                            <div class="input-group with-focus ">
                                {% if profileForm.secondName.vars.errors|length %}
                                    {{ form_widget(profileForm.secondName, {'attr': {'class': 'is-invalid form-control border-right-0'}}) }}
                                {% else %}
                                    {{ form_widget(profileForm.secondName) }}
                                {% endif %}
                                <div class="input-group-append">
                             <span class="input-group-text text-muted bg-transparent border-left-0">
                                 <em class="fa fa-user"></em>
                             </span>
                                </div>
                                <div class="invalid-feedback">{{ form_errors(profileForm.secondName) }}</div>
                            </div>
                        </div>
                        <div class="form-group">
                            {{ form_label(profileForm.lastName,'Last name'|trans, {
                                'label_attr': {'class': 'text-muted'}
                            }) }}
                            <div class="input-group with-focus">
                                {{ form_widget(profileForm.lastName) }}
                                <div class="input-group-append">
                             <span class="input-group-text text-muted bg-transparent border-left-0">
                                 <em class="fa fa-user"></em>
                             </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            {{ form_label(profileForm.phone,'Phone'|trans, {
                                'label_attr': {'class': 'text-muted'}
                            }) }}
                            <div class="input-group with-focus">
                                {{ form_widget(profileForm.phone) }}
                                <div class="input-group-append">
                             <span class="input-group-text text-muted bg-transparent border-left-0">
                                 <em class="fa fa-phone"></em>
                             </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            {{ form_label(profileForm.email,'Email address'|trans, {
                                'label_attr': {'class': 'text-muted'}
                            }) }}
                            <div class="input-group with-focus">
                                {{ form_widget(profileForm.email) }}
                                <div class="input-group-append">
                             <span class="input-group-text text-muted bg-transparent border-left-0">
                                 <em class="fa fa-envelope"></em>
                             </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="offset-5 col-2">
                                {{ form_row(profileForm.save, {'label': 'Edit profile'|trans}) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{ form_end(profileForm) }}
{#  FINISH FORM #}
    </div>
{% endblock %}
 {% block javascripts %}{% endblock %}
