{% extends 'base.html.twig' %}

{% block title %}{{'Profile'|trans }}{% endblock %}

{% block body %}
        <!-- top navbar-->
        {{ include('cabinet/sidebar.html.twig') }}      <!-- sidebar-->
        {{ include('cabinet/offsidebar.html.twig') }}   <!-- offsidebar-->

        <section class="section-container">
            <!-- Page content-->
            <div class="content-wrapper">
                <div class="content-heading">
                    <div>Profile</div>
                    </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card card-default">
                            <div class="card-body text-center">
                                <div class="py-4"><img class="img-fluid rounded-circle img-thumbnail thumb96"
                                                       src="
                                                        {% if user.avatar %}
                                                            {{ asset(user.avatar) }}
                                                        {% else %}
                                                            {{ asset('img/user/02.jpg') }}
                                                        {% endif %}
                                                       " alt="{{'Contact'|trans }}"></div>
                                <h3 class="m-0 text-bold">
                                    {% if not (user.firstName and user.lastName) %}
                                        Somebody
                                    {% else %}
                                        {{ user.firstName }} {{ user.lastName }}
                                    {% endif %}
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="card card-default">
                            <div class="card-header d-flex align-items-center">
                                <div class="d-flex justify-content-center col">
                                    <div class="h4 m-0 text-center">{{'Contact Information'|trans }}</div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="row py-4 justify-content-center">
                                    <div class="col-12 col-sm-10">
                                        <form class="form-horizontal" action="{{ path("post_update_profile") }}" method="post" role="form">
                                            <div class="form-group row">
                                                <div class="col-xl-10 col-md-9 col-8"><input class="form-control" type="hidden" value="{{ user.id }}"></div>
                                            </div>
                                            <div class="form-group row"><label class="text-bold col-xl-2 col-md-3 col-4 col-form-label text-right" for="inputContact1">{{'Name'|trans }}</label>
                                                <div class="col-xl-10 col-md-9 col-8"><input class="form-control" id="inputContact1" type="text" placeholder="" value="{{ user.firstName }} {{ user.lastName }}"></div>
                                            </div>
                                            <div class="form-group row"><label class="text-bold col-xl-2 col-md-3 col-4 col-form-label text-right" for="inputContact2">{{'Email'|trans }}</label>
                                                <div class="col-xl-10 col-md-9 col-8"><input class="form-control" id="inputContact2" type="email" value="{{ user.email }}"></div>
                                            </div>
                                            <div class="form-group row"><label class="text-bold col-xl-2 col-md-3 col-4 col-form-label text-right" for="inputContact3">{{'Phone'|trans }}</label>
                                                <div class="col-xl-10 col-md-9 col-8"><input class="form-control" id="inputContact3" type="text" value="{{ user.phone }}"></div>
                                            </div>
                                            <div class="form-group row"><label class="text-bold col-xl-2 col-md-3 col-4 col-form-label text-right" for="inputContact4">{{'ZIP'|trans }}</label>
                                                <div class="col-xl-10 col-md-9 col-8"><input class="form-control" id="inputContact4" type="text" value="{{ my_address[0].zip }}"></div>
                                            </div>
                                            <div class="form-group row"><label class="text-bold col-xl-2 col-md-3 col-4 col-form-label text-right" for="inputContact5">{{'Country'|trans }}</label>
                                                <div class="col-xl-10 col-md-9 col-8"><input class="form-control" id="inputContact5" type="text" value="{{ my_address[0].country }}"></div>
                                            </div>
                                            <div class="form-group row"><label class="text-bold col-xl-2 col-md-3 col-4 col-form-label text-right" for="inputContact6">{{'City'|trans }}</label>
                                                <div class="col-xl-10 col-md-9 col-8"><input class="form-control" id="inputContact6" type="text" value="{{ my_address[0].city }}"></div>
                                            </div>
                                            <div class="form-group row"><label class="text-bold col-xl-2 col-md-3 col-4 col-form-label text-right" for="inputContact7">{{'Address'|trans }}</label>
                                                <div class="col-xl-10 col-md-9 col-8"><textarea class="form-control" id="inputContact7" rows="4">{{ my_address[0].address }}</textarea></div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section><!-- Page footer-->
        {{ include('cabinet/footer.html.twig') }}
{% endblock %}
 {% block javascripts %}{% endblock %}
