{% extends 'base_operation.html.twig' %}

{% block title %}{{'Authentication'|trans }}{% endblock %}

{% block content %}
    <p class="text-center py-2">{{'SIGN IN TO CONTINUE.'|trans}}</p>
          {% if error %}
                        <div class="alert alert-danger">
                            {{ error.messageKey|trans(error.messageData, 'security') }}
                        </div>
                    {% endif %}
                {% for label, flashes in app.session.flashbag.all %}
                    {% for flash in flashes %}
                        <div class="alert alert-{{ label }}">
                            {{ flash }}
                        </div>
                    {% endfor %}
                {% endfor %}
               <form class="mb-3"  action="{{ path("user_login") }}" method="post" role="form" id="loginForm" novalidate>
                   {{ form_row(form._token) }}
                  <div class="form-group">
                     <div class="input-group with-focus">
                         <input 
                             class="form-control border-right-0" 
                             id="exampleInputEmail1" 
                             type="email" 
                             placeholder="{{'Enter email'|trans}}" 
                             autocomplete="off" 
                             required
                             name="{{ form.email.vars.full_name }}" 
                             value="{{ last_username }}"
                             />
                        <div class="input-group-append"><span class="input-group-text text-muted bg-transparent border-left-0"><em class="fa fa-envelope"></em></span></div>
                     </div>
                  </div>
                  <div class="form-group">
                     <div class="input-group with-focus">
                         <input 
                             class="form-control border-right-0" 
                             id="exampleInputPassword1" 
                             type="password" 
                             placeholder="{{'Password'|trans}}" 
                             required
                             name="{{ form.password.vars.full_name }}"
                             />
                        <div class="input-group-append"><span class="input-group-text text-muted bg-transparent border-left-0"><em class="fa fa-lock"></em></span></div>
                     </div>
                  </div>
                  <div class="clearfix">
                     <div class="checkbox c-checkbox float-left mt-0"><label><input type="checkbox" value="" name="remember"><span class="fa fa-check"></span>{{ "Remember Me"|trans }}</label></div>
                     <div class="float-right"><a class="text-muted" href="{{ path('user_logout_fogot_pasword')}}">{{'Forgot your password?'|trans}}</a></div>
                  </div><button class="btn btn-block btn-primary mt-3" type="submit">{{'Login'|trans}}</button>
               </form>
               <p class="pt-3 text-center">{{'Need to Signup?'|trans}}</p><a class="btn btn-block btn-secondary" href="{{ path('app_register')}}">{{'Register Now'|trans}}</a>
{% endblock %}
