{% extends "cabinet/cabinet_layout.html.twig" %}

{% block title %}{{page_title|trans }}{% endblock %}

{% block content %}
    <div class="col-xl-12">
        <!-- START card-->
        <div class="card card-default">
            <div class="card-header">
                {% if page_title == 'Send Parcels List' %}
                {% else %}
                    <a  href="{{ path("post_parcels_create") }}" class="float-left badge badge-primary">{{ "Add order" | trans }}</a>
                {% endif %}
            </div>
            <div class="card-body">
                <!-- START table-responsive-->
                {% if totalItemCount %}
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>{{ "Create Date" | trans }}</th>
                            {% if isSend is defined and isSend == 1 %}
                                <th>{{ "trackingNumber" | trans }}</th>
                            {% else %}
                                <th>{{ "trackingNumber Nova Pochta" | trans }}</th>
                            {% endif %}
                            <th>{{ "sendDetailWeight" | trans }}</th>
                            <th>{{ "volumeWeigth" | trans }}</th>
                            <th>{{ "shipgCost" | trans }}</th>
                            <th>{{ "declareValue" | trans }}</th>
                            <th>{{ "Adress" | trans }}</th>
                            <th>{{ "Status" | trans }}</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% if items is defined and items is iterable %}
                            {% for item in items %}
                                <tr>
                                    <td>{{ item.getCreatedAtStr }}</td>
                                    {% if isSend is defined and isSend == 1 %}
                                        <td>{{ item.trNum }}</td>
                                    {% else %}
                                        <td>{{ item.trackingNumber }}</td>
                                    {% endif %}
                                    <td>{{ item.sendDetailWeight }}</td>
                                    <td>{{ item.volumeWeigth }}</td>
                                    <td>{{ item.shippingCosts }}</td>
                                    <td>{{ item.declareValue }}</td>
                                    <td>
                                        {% if item.addresses.fullAddress is defined and item.addresses.fullAddress is not null %}
                                            {{ item.addresses.fullAddress }}
                                        {% endif %}
                                    </td>
                                    <td>{{ item.orderStatus }}</td>
                                    <td>
                                        {% if item.orderStatus is empty or item.orderStatus.status == 'new'%}
                                            <a  href="{{ path("post_parcels_edit",{"id":item.id}) }}" class="btn btn-success">{{ "Edit Order" | trans }}</a>
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if item.orderStatus is empty or item.orderStatus.status == 'new'%}
                                            {% if item.shippingCosts > 0 %}
                                                {% set liqPayForm=liqpay.LiqPayForm(item.shippingCosts,'Pay by ExpreaaPochta.com',"EXPRESSORDER_"~item.id) %}
                                                    <div class="liq-pay-button">
                                                        {{ liqPayForm | raw }}
                                                    </div>
                                                    <input type="button" id="" class="payment-btn btn btn-success liq-pay-button-change" value="{{ "Pay" | trans }}" />
                                            {% endif %}
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}

                        {% else %}
                            <tr>
                                <td colspan="3">{{ "No parcel" | trans}}</td>
                            </tr>
                        {% endif %}
                        </tbody>
                    </table>
                </div><!-- END table-responsive-->
                {% else %}
                    {{ "No Parcels" | trans }}
                {% endif %}
            </div>
            <div class="col-md-12">
                {{ knp_pagination_render(items) }}
            </div>
        </div><!-- END card-->
    </div>
{% endblock %}
 {% block javascripts %}{% endblock %}
