{% extends 'cabinet/cabinet_layout.html.twig' %}

{% block title %}{{'Parcels'|trans }}{% endblock %}

{% block content %}
    <div class="col-xl-12">
        <!-- START card-->
        <div class="card card-default">
            <div class="card-header">
                <a  href="{{ path('post_parcels_create') }}" class="float-left badge badge-primary">{{ 'Add order' | trans }}
                </a>
            </div>
            <div class="card-body">
                <!-- START table-responsive-->
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>{{ "trackingNumber" | trans }}</th>
                            <th>{{ "shipgCost" | trans }}</th>
                            <th>{{ "Adress" | trans }}</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% if items is defined and items is iterable  %}
                            {% for item in items %}
                                <tr>
                                    <td>{{ item.trackingNumber }}</td>
                                    <td>{{ item.shippingCosts }}</td>
                                    <td>{{ item.addresses.fullAddress }}</td>
                                    <td><a  href="{{ path('post_parcels_edit',{"id":item.id}) }}" class="btn btn-success">{{ 'Edit Order' | trans }}
                                        </a></td>
                                </tr>
                            {% endfor %}

                        {% else %}
                            <tr>
                                <td colspan="3">Нет покупок</td>
                            </tr>
                        {% endif %}
                        </tbody>
                    </table>
                </div><!-- END table-responsive-->
            </div>
            <div class="col-md-12">
                {{ knp_pagination_render(items) }}
            </div>
        </div><!-- END card-->
    </div>
{% endblock %}
 {% block javascripts %}{% endblock %}
