{% extends"base.html.twig" %}
{% block title %}{{ "Find Order"| trans }}{% endblock %}

{% block body %}
    <div class="col-xl-12">
        <!-- START card-->
        <div class="card card-default">
            <div class="card-header">
                {{ "Find for tracking number"| trans }}: {{ trNum  }}
            </div>
            <div class="card-body">
                <!-- START table-responsive-->

                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                        <tr>
                        <tr>
                            <th>Id Order</th>
                            <th>Track Number </th>
                            <th>Country</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% if items is not empty  and items is defined %}
                                        <tr>
                                            <td>
                                                {% if items.id is defined %}
                                                    {{ items.id }}
                                                {% endif %}
                                            </td>
                                            <td>
                                                {% if items.country is defined %}
                                                    {{ items.trackingNumber }}
                                                {% endif %}
                                            </td>
                                            <td>
                                                {% if items.country is defined %}
                                                    {{ items.country }}
                                                {% endif %}
                                            </td>
                                        </tr>
                                    {% endif %}
                        </tbody>
                    </table>
                </div><!-- END table-responsive-->
            </div>

        </div><!-- END card-->
    </div>
{% endblock %}
 {% block javascripts %}{% endblock %}
