{% extends "base.html.twig" %}
{% block stylesheets %}

{% endblock %}
 {% block body %}
     <!-- top navbar-->
     {{ include("cabinet/sidebar.html.twig") }}      <!-- sidebar-->
     {{ include("cabinet/offsidebar.html.twig") }}   <!-- offsidebar-->

     <aside class="offsidebar d-none">
     </aside><!-- Main section-->
     <section class="section-container">
         <!-- Page content-->
         <div class="content-wrapper">
             <div class="content-heading">
                 <div>{% block title %}{{"Dashboard"|trans }}{% endblock %}</div>
             </div>
             <div class="row">
                 <div class="col-xl-6 col-6 br py-2">
                     <div class="row">
                         <div class="col-lg-12">
                             <h4>{{ user.firstName }} {{ user.lastName }}</h4>

                             {% if my_address is not empty  and my_address is not empty %}
                                 <address>
                                     {{ my_address.address }} <br>
                                     {{ my_address.city }} <br>
                                     {{ my_address.country }} <br>
                                     {{ my_address.zip }}
                                 </address>
                             {% endif %}


                         </div>
                     </div>
                 </div>

                 <div class="col-xl-6 col-6 br py-2">
                     <div class="row">
                         <div class="col-lg-12">
                             <h4>{{ "Find Order"| trans }}</h4>
                             {% if page_id is defined
                                 and
                                 page_id is not empty
                                 and
                                 page_id in ["post_find"]
                             %}
                             <form action="{{ path("post_find") }}" method="post" >
                                 {% else %}
                             <form action="{{ path("post_find") }}" method="post" target="_blank">

                                 {% endif %}
                                 <div class="form-group">
                                      <div class="input-group with-focus ">
                                             <input
                                                     class="form-control border-right-0"
                                                name="tracnum"
                                                     value="{% if trNum is defined %} {{ trNum }}{% endif %}"
                                                     required="required"
                                             />
                                                 <div class="input-group-append">
                                                    <button type="submit" class="btn btn-success">{{ "Otsledit"|trans }}</button>
                                                 </div>
                                     </div>
                                 </div>
                             </form>
                         </div>
                     </div>
                 </div>

             </div>
         </div>
         {% for message in app.flashes('success') %}
             <div class="alert alert-success">
                 {{ message }}
             </div>
         {% endfor %}
         {% for message in app.flashes('errors') %}
             <div class="alert alert-error">
                 {{ message }}
             </div>
         {% endfor %}
         {% for message in app.flashes('warning') %}
             <div class="alert alert-warning">
                 {{ message }}
             </div>
         {% endfor %}
         <div class="row">
                 {% block content %}{% endblock %}
         </div>
         {#
         </div>
     </div>
     #}
     </section><!-- Page footer-->
     {{ include("cabinet/footer.html.twig") }}
 {% endblock %}
 {% block javascripts %}{% endblock %}