<header class="topnavbar-wrapper">
    <!-- START Top Navbar-->
    <nav class="navbar topnavbar">
        <!-- START navbar header-->
        <div class="navbar-header"><a class="navbar-brand" href="{{ path("post_dashboard") }}">
                <div class="brand-logo"><img class="img-fluid" src="{{ asset("img/logo.png") }}" alt="App Logo"></div>
{#                <div class="brand-logo-collapsed"><img class="img-fluid" src="img/logo-single.png" alt="App Logo"></div>#}
            </a></div><!-- END navbar header-->
        {{ include("cabinet/sidebar/navbarleft.html.twig") }}      <!-- Left navba-->
        {{ include("cabinet/sidebar/navbarright.html.twig") }}      <!-- Right Navbar-->
        <!-- START Search form-->
        {{ include("cabinet/sidebar/topsearch.html.twig") }}      <!-- Right Navbar-->
    </nav><!-- END Top Navbar-->
</header>