{% extends "cabinet/cabinet_layout.html.twig" %}

{% block title %}{{ "Find Order"| trans }}{% endblock %}

{% block content %}
    <div class="col-xl-12">
        <!-- START card-->
        <div class="card card-default">
            <div class="card-header">
                {{ "Find for tracking number"| trans }}: {{ trNum  }}
            </div>
            <div class="card-body">
                <!-- START table-responsive-->
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>{{ "Date" | trans }}</th>
                            <th>{{ "StatusDescription" | trans }}</th>
                            <th>{{ "Details" | trans }}</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% if items is defined and items is iterable  and  items is not empty %}
                            {% for item in items %}
                                <tr>
                                    <td>{{ item.Date }}</td>
                                    <td>{{ item.StatusDescription }}</td>
                                    <td>{{ item.Details }}</td>
                                </tr>
                            {% endfor %}

                        {% else %}
                            <tr>
                                <td colspan="3">{{ errors }} {{ "Nothing Found" | trans }}</td>
                            </tr>
                        {% endif %}
                        </tbody>
                    </table>
                </div><!-- END table-responsive-->
            </div>

        </div><!-- END card-->
    </div>
{% endblock %}
 {% block javascripts %}{% endblock %}
