{% extends "cabinet/cabinet_layout.html.twig" %}

{% block title %}{{ "Find Order"| trans }}{% endblock %}

{% block content %}
    <div class="col-xl-12">
        <!-- START card-->
        <div class="card card-default">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-8">
                        {{ "Find for tracking number"| trans }}: {{ trNum  }}
                    </div>
                    <div class="col-md-4">
                        {% if trNumtousa is not empty %}
                            <div class="track-font">  {{ "Track your package1"| trans }} {{ companyToUSA }}: <a href="{{ urltousa }}">{{ trNumtousa  }}</a></div>
                        {% endif %}

                        {% if express == 0 and trNuminusa is not empty %}
                            <div class="track-font">{{ "Track your package2"| trans }} {{ companyInUSA }}: <a href="{{ urlinusa }}">{{ trNuminusa  }}</a></div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="card-body">
                <!-- START table-responsive-->
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>{{ "Date" | trans }}</th>
                            <th>{{ "StatusDescription" | trans }}</th>
                            <th>{{ "Details" | trans }}</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% if items is defined and items is iterable  and  items is not empty %}
                            {% for itemCriers in items %}
                                {% for item in itemCriers %}
                                {% if item is not empty %}
                                <tr>
                                    <td>
                                    {% if item.Date is defined %}
                                        {{ item.Date }}
                                    {% endif %}
                                    </td>
                                    <td>
                                    {% if item.StatusDescription is defined %}
                                            {{ item.StatusDescription }}
                                    {% endif %}
                                    </td>
                                    <td>
                                    {% if item.Details is defined %}
                                            {{ item.Details }}
                                    {% endif %}
                                    </td>
                                </tr>
                                {% endif %}
                                {% endfor %}
                            {% endfor %}

                        {% else %}
                            <tr>
                                <td colspan="3">{{ errors }} {{ "Nothing Found" | trans }}</td>
                            </tr>
                        {% endif %}
                        </tbody>
                    </table>
                </div><!-- END table-responsive-->
            </div>

        </div><!-- END card-->
    </div>
{% endblock %}
 {% block javascripts %}{% endblock %}
