<!-- START Right Navbar-->
<ul class="navbar-nav flex-row">
    <!-- Search icon-->
    <li class="nav-item"><a class="nav-link" href="#" data-search-open=""><em class="icon-magnifier"></em></a></li><!-- Fullscreen (only desktops)-->
    <li class="nav-item d-none d-md-block"><a class="nav-link" href="#" data-toggle-fullscreen=""><em class="fas fa-expand"></em></a></li><!-- START Alert menu-->
    <li class="nav-item dropdown dropdown-list"><a class="nav-link dropdown-toggle dropdown-toggle-nocaret" href="#" data-toggle="dropdown"><em class="icon-bell"></em><span class="badge badge-danger">11</span></a><!-- START Dropdown menu-->
        <div class="dropdown-menu dropdown-menu-right animated flipInX">
            <div class="dropdown-item">
                <!-- START list group-->
                <div class="list-group">
                    <!-- list item-->
                    <div class="list-group-item list-group-item-action">
                        <div class="media">
                            <div class="align-self-start mr-2"><em class="fab fa-twitter fa-2x text-info"></em></div>
                            <div class="media-body">
                                <p class="m-0">New followers</p>
                                <p class="m-0 text-muted text-sm">1 new follower</p>
                            </div>
                        </div>
                    </div><!-- list item-->
                    <div class="list-group-item list-group-item-action">
                        <div class="media">
                            <div class="align-self-start mr-2"><em class="fas fa-envelope fa-2x text-warning"></em></div>
                            <div class="media-body">
                                <p class="m-0">New e-mails</p>
                                <p class="m-0 text-muted text-sm">You have 10 new emails</p>
                            </div>
                        </div>
                    </div><!-- list item-->
                    <div class="list-group-item list-group-item-action">
                        <div class="media">
                            <div class="align-self-start mr-2"><em class="fas fa-tasks fa-2x text-success"></em></div>
                            <div class="media-body">
                                <p class="m-0">Pending Tasks</p>
                                <p class="m-0 text-muted text-sm">11 pending task</p>
                            </div>
                        </div>
                    </div><!-- last list item-->
                    <div class="list-group-item list-group-item-action"><span class="d-flex align-items-center"><span class="text-sm">More notifications</span><span class="badge badge-danger ml-auto">14</span></span></div>
                </div><!-- END list group-->
            </div>
        </div><!-- END Dropdown menu-->
    </li><!-- END Alert menu-->
    <!-- END User menu-->
    <li class="nav-item dropdown dropdown-list">
            <a class="nav-link dropdown-toggle dropdown-toggle-nocaret" href="#" data-toggle="dropdown" style="max-height: 55px;">
                <div class="row" style="margin-top: -10px;">
                    <div class="col-md-2">
                        <img class="rounded-circle" src="
                            {% if user.avatar %}
                              {{ asset(user.avatar) }}
                            {% else %}
                                {{ asset('img/user/02.jpg') }}
                            {% endif %}
                           " alt="Avatar" width="33" height="36" style="max-height: 33px;max-width: 36px;">
                    </div>
                    <div class="col-md-10">
                        <div class="row" >
                            <div class="col-md-12">
                                {% if user.firstName %}
                                    {{ user.firstName }}
                                {% else %}
                                    Somebody
                                {% endif %}
                            </div>
                            <div class="col-md-12">
                                {{"Cabinet"|trans }} : {{ user.id }}
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        <!-- START Dropdown menu-->
        <div class="dropdown-menu dropdown-menu-right animated flipInX">
            <div class="dropdown-item">
                <div class="user-block-picture">
                    <div class="user-block-status"><img class="img-thumbnail rounded-circle" src="
                    {% if user.avatar %}
                      {{ asset(user.avatar) }}
                    {% else %}
                        {{ asset('img/user/02.jpg') }}
                    {% endif %}
                   " alt="Avatar" width="60" height="60">
                        <div class="circle bg-success circle-lg"></div>
                    </div>
                </div><!-- Name and Job-->
                <div class="user-block-info">
                                <span class="user-block-name">
                                    {% if user.firstName %}
                                        {{"Hello"|trans }}, {{ user.firstName }}
                                    {% else %}
                                        {{"Hello"|trans }}, Somebody
                                    {% endif %}
                                </span>
                    {#                                <span class="user-block-role">Designer</span>#}
                </div>
                <div class="user-block-info">
                     <a href="{{ path('post_profile') }}" class="btn btn-light col-md-6" >{{ 'Profile' | trans }}</a>
                     <a href="{{ path('user_logout') }}" class="btn btn-light col-md-6">{{ 'Logout' | trans }}</a>
                </div>
            </div>

        </div>
    </li><!-- END Alert menu-->

</ul><!-- END Right Navbar-->